body {
	background-color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	background-repeat: no-repeat;
	background-color: #e6f9ff;
	 /*background: linear-gradient(-90deg, #fff, lightgrey);*/
	 /*background-image: url("../images/main/back-image.jpg");*/
	padding-top: 45px;


	
	}


.main-content {
	width: 85%;

	/*background-color: lightgrey;*/
}
#logo {
	font-weight: 300;
}

.bio-box {
	margin: auto;
	text-align: center;
	border: solid 1px black;
	border-radius: 20px;
	background-color: white;
	box-shadow:  1px 1px 2px #888888;
	 max-width: 130vh; 
	 margin-top: 30px;
	
}



.profile-pic {
	margin: 0 auto;
}

h4:hover {
	color: grey;
}

ul {
    list-style-position: inside;

}

.portfolio-images {
	margin-top: 25px;
	border: solid 1px black;
	border-radius: 20px;

}

.mobile-title {
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;

}

.about-us {
	margin:auto;
	font-weight: 400;
	font-size: 1.2em;
	text-align: center;
	margin-top: 30px;
	padding-bottom: 10px;
	background-color: white;
	border: 1px solid black;
	border-radius: 20px;
	max-width: 100%; 


}

/* Style all font awesome icons */
a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
	margin: 0;
	padding: 5px;
	text-align: center;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 40px;
    height: 28px;
	color: #FFF;
	background-color: #000;
	padding-top: 12px;
	transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
}

.socialbtns .fa:hover {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
}

.socialbtns .fa{
	padding-left: 2px;
	padding-bottom: 25px;
}

.footer-navigation li{
	list-style: none outside none;
    display: block;
    
    
}

.footer-navigation a{

	padding:10px;
	font-size: 1.5em;
	text-align: center;
	border: 1px solid black;
	border-radius: 15px;

}
.footer-navigation {
	text-align: center;
	margin-top: 20px;
}
.footer-navigation a:hover {
	color: white;
	background-color: black;
}

.btn {
	border-radius: 20px;
	border: 1px solid black;
	margin: 20px 5px 25px 5px;
	background-color: black;
	color: white;
}

.btn:hover {
	color: black;
	background-color: white;

}

hr {
	border: 1px solid black;

}

.footer-nav {
	background-color: white;

}

.footer-nav a {
	width: 20%;
}

.new-placeholder {
	background-color: white;
	border: 1px solid black;
	border-radius: 20px;
	width: 80vw;
    height: 300px;
   /* max-height: 90vh;
    max-width: 130vh; */
    margin: auto;
    margin-top: 5px;
   
}
.new-placeholder:hover {
	color: black;
	background-color: #d1d1e0;
}

.new-placeholder p {
position: relative;
top: 50%;
transform: translateY(-50%); 
text-align:center;
font-size: 2em;
font-weight: 400;
}

@media (min-width: 968px){
  .bio-box {
    max-width:100%;
  }
  .about-us {
  	max-width:100%;
  	min-height: 427px;
  	height: 100%;
  	padding-left: 50px;
  	padding-right: 50px;
  
  }
  .about-us p,
  .mobile-title h3 {
  	text-align: left;
  }
  .portfolio-images {
  	display: block;
  	margin: 0 auto;
  	margin-top: 10px;
  }
}

@media (min-width: 1800px){
  .bio-box {
    max-width:100%;
  }
  .about-us {
  	max-width:100%;
  	min-height: 427px;
  	height: 100%;
  	padding-left: 50px;
  	padding-right: 50px;
  
  }
  .about-us p,
  .mobile-title h3 {
  	text-align: left;
  }
  .portfolio-images {
  	display: block;
  	margin: 0 auto;
  	margin-top: 20px;
  }

}
.contact-form{
	background-color: white;
	margin:0 auto;
	margin-top: 30px;
	text-align: center;
	border: solid 1px black;
	border-radius: 20px;
	background-color: white;
	box-shadow:  1px 1px 2px #888888;
	padding: 25px 30px 0px 30px;
	width: 500px;
}
#get-in-touch {
	padding-bottom: 30px;
}

.portfolio-box {
	background-color: white;
	margin-top: 30px;
	padding-bottom: 30px;
	background-color: white;
	border: 1px solid black;
	border-radius: 20px;
	max-width: 100%; 
}
